<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h3>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar navbar-inner">
			<div class="container">
				<li class="btn btn-medium"><%= link_to "Movie List", '#' %></li>
				<nav>
			<ul class="pull-right">
				<li><%= link_to "Home", films_path %></li>
				<li><%= link_to "Sign In", films_users_signin_path %></li>
				<li><%= link_to "Sign Up", films_users_signup_path %></li>
			</ul>
		</nav>
	</div>
</div>
</header>


<%= yield %>

</body>
</html>
