<h1> Click on your favourite movie to book tickets! </h1>
<table class="table table-striped table-bordered table-condensed">
		<th> Movie </th>
		<th> Rating </th>
	</tr>
<% @movies.each do |f| %>
	<tr>
		<td><%= f.name %></td>
		<td><%= f.rating %></td>
		<td><%= link_to "Booking", films_users_show_path(f) %></td>
	</tr>
<% end %>
</table>