<h1> Show Timings </h1>
<table class="table table-striped table-bordered table-condensed">
		<th> Timings </th>
		<th> Total Seats</th>
	</tr>
<% @st.each do |film| %>
	<tr>
		<td><%= film.timing %></td>
		<td><%= film.vacancies %></td>
	</tr>
<% end %>
</table>