h1 id="sign"
	|	Sign Up (for new users)

body id="signupform"
	= form_for :user do |f| 
  
	 = f.label :Name 
	 = f.text_field :name
	

  
     = f.label :Username 
     = f.text_field :username 
    
  
     = f.label :password 
     = f.text_field :password 
     br
          = f.submit "Create Account" 
end 