h1 id="sign"
	|	Sign In using existing account

body id="signupform"
	= form_for :user, :url => films_users_signin_path(@user) do |f| 
     
     = f.label :Username 
     = f.text_field :username 
    
  
     = f.label :password 
     = f.text_field :password 
     br
          = f.submit "Login" 
end 