html
	head
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

body 	
	div class="center hero-unit"
	 h1
		| Book Tickets for your favorite movies here! Sign In or Sign Up to proceed! 