// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap"


h1
	margin-bottom: 40px
	margin-top: 100px
	text-align: center
	font-family: 'Lobster', cursive

#sign
	margin-top: 100px

body#signupform
	margin-left: 100px
	padding: 0 0 0 100px

#usercreate
	margin-top: 400px

td
	padding: 0 50px 0 20px
	text-align: center

th
	text-align: center	

